@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

@font-face {
    font-family: 'Hardworking';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_06@1.0/Hardworking.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.history {
    font-family: 'Hardworking';
    padding: 20px;
}

.history-container {
    display: flex; /* 자식 요소를 가로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
}

.history-container.reverse {
    flex-direction: row-reverse; /* 요소들을 역순으로 배치하여 사진을 오른쪽에, 텍스트를 왼쪽에 배치 */
}

.card-img-container {
    position: relative;
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.zoom {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 이미지 위에 어두운 오버레이 */
    opacity: 0; /* 초기에는 투명하게 설정 */
    transition: opacity 0.5s ease; /* 호버 시에 부드럽게 투명도 조절 */
}

.card-img-container:hover .zoom {
    opacity: 1; /* 호버 시 오버레이 */
}

.card-img-container:hover .card-img-top {
    transform: scale(1.2); /* 호버 시에 이미지를 1.2배 확대 */
}

.card-body {
    opacity: 0; /* 초기에는 투명하게 설정 */
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px); /* 초기 위치를 아래로 설정 */
}

.card-body.visible {
    opacity: 1; /* 뷰포트에 들어오면 보이도록 설정 */
    transform: translateY(0); /* 원래 위치로 이동 */
    transition-delay: 0.2s; /* 애니메이션 지연 시간 설정 */
}

.card-title {
    font-size: 80px;
    background-clip: text;
}



.card-title.date {
    font-size: 50px;
}

.card-title.style {
    font-size: 50px;
}
