/* 반응형 스타일 */

@media (max-width: 768px) {
    .header {
        font-size: 1.5rem; /* 작은 화면에서 폰트 크기를 줄임 */
    }
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.header {
    font-family: 'PartialSansKR-Regular';
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between; /* 좌우 간격을 최대한 확보 */
    align-items: center; /* 수직 가운데 정렬 */
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b8f5ea, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b8f5ea, #acb6e5);
    
    padding: 10px 20px; /* 상하좌우 여백 추가 */
}
  
.myshinee {
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
  
  
  
.myshinee:hover {
    color: white; 
}
  
.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.nav-links li {
    margin-right: 20px;
}
  
.nav-links li:last-child {
    margin-right: 0;
}
  
.nav-links .nav-link {
    margin-right: 20px; /* 각 링크 간의 우측 여백 추가 */
}
  
.nav-links .nav-link:last-child {
    margin-right: 0; /* 마지막 링크의 우측 여백 제거 */
}
  
.nav-links .nav-link.active {
    font-weight: bold; /* 활성 탭의 글꼴을 굵게 표시합니다. */
    color: white; /* 활성 탭의 글씨색을 변경합니다. */
}
