/* 반응형 스타일 */

@media (max-width: 768px) {
  .App {
      padding: 20px; /* 작은 화면에서 적절한 여백 추가 */
  }
}

/*폰트*/

@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}




.App {
  font-family:'DNFBitBitv2';
  text-align: center;
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b8f5ea, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b8f5ea, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.image-container {
  padding-top: 120px;
  position: relative;
}

/* h1 깜빡임효과 */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}
  20%,
  24%,
  55% {
    text-shadow: none;
}
}


@keyframes pulsate {
100% {
/* 큰 블러 반경 /
text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
}
0% {
/ 작은 블러 반경 */
text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa, 0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
}
}

/* 반응형 스타일 */

@media (max-width: 768px) {
  .text-white {
      font-size: 6vw; /* 작은 화면에서 폰트 크기를 줄임 */
      text-shadow: 0.3vw 0.3vw 0.6vw rgba(0, 0, 0, 0.5); /* 텍스트 그림자 크기 조정 */
      -webkit-text-stroke: 0.3vw black; /* 텍스트 테두리 크기 조정 */
  }
  
  p {
      font-size: 3vw; /* 작은 화면에서 폰트 크기를 줄임 */
  }

  h2 {
      font-size: 4vw; /* 작은 화면에서 폰트 크기를 줄임 */
  }

  .item {
      width: 30vw; /* 작은 화면에서 이미지 크기를 줄임 */
      height: 50vh; /* 작은 화면에서 이미지 높이를 줄임 */
      background-size: contain; /* 작은 화면에서 이미지 크기 조정 */
  }
  
  .item.expanded {
      width: 70vw; /* 작은 화면에서 확장된 이미지 크기를 조정 */
  }
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

h1 {
  font-family: 'DNFBitBitv2';
  animation: pulsate 2.5s infinite alternate;
}

p{
  font-family:'DNFBitBitv2';
}
h2{
  font-family: 'DNFBitBitv2';
}

.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  width: 15vw;
  height: 35vh; /* 모바일 화면에서 이미지 높이를 줄임 */
  background-position: center;
  background-size: cover; /* 이미지가 잘리지 않고 모두 표시되도록 설정 */
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  transition: width 0.5s ease; /* 너비 변경에 대한 전환 효과 추가 */
}

.item.expanded {
  width: 70vw; /* 확장된 상태의 너비 */
}

/* 모바일 화면에서 이미지 크기 및 배치 조정 */
@media (max-width: 768px) {
  .item {
    width: 30vw; /* 모바일 화면에서 이미지 크기를 더 줄임 */
    height: 25vh; /* 모바일 화면에서 이미지 높이를 조정 */
    background-size: contain; /* 이미지가 잘리지 않고 전체가 보이도록 설정 */
  }

  .item.expanded {
    width: 100vw; /* 모바일 화면에서 확장된 이미지 크기를 조정 */
  }
}
